<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Centraliza horizontalmente */
            justify-content: center;
            /* Centraliza verticalmente */
            height: 100vh;
            /* Faz o corpo ocupar a altura toda da tela */
            margin: 0;
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <h1>Bem vindo ao nosso site!</h1>
    <a href="{{url_for('signup')}}">
        <button type="button">Cadastrar</button>
    </a>

    <a href="{{url_for('login')}}">
        <button type="button">Entrar</button>
    </a>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>
<!--<button type="button" onclick="minhaAcao()">Clique aqui para uma ação específica</button>-->